body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, sans-serif;
    overflow-x: hidden; 
    overflow-y: auto;   
}

/* Header styles */
.header {
    width: 1279.9px;
    height: 40px; 
    background-color: white;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px; 
    box-sizing: border-box;
    
}


.nav-links a {
    text-decoration: none; 
    display: inline-block; 
    position: relative; 
  }
  
  .nav-links a p {
    margin: 0; 
  
    transition: color 0.3s ease; 
  }
  
  /* Cool hover animation */
  .nav-links a p::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
  
    background-color: #000; 
    transition: width 0.3s ease; 
  }
  
  .nav-links a:hover p {
    color: rgb(13, 109, 13); 
    font-weight: 600;
  }
  
  .nav-links a:hover p::after {
    width: 100%; 
  }
  

/* Foodieland text */
.foodie {
    font-family: 'Lobster', cursive; 
    font-size: 30px; 
    font-weight: normal;
    color: black;
    margin: 0;
}

/* Navigation links */
.nav-links {
    display: flex;
    gap: 30px; 
  
}

.nav-links p {
    color: black;
    margin: 0;
    cursor: pointer;
}

/* Social media icons */
.social-icons {
    display: flex;
    gap: 15px; 
}

.social-icons i {
    color: black;
    font-size: 18px;
}

.social-icons i:hover {
    color: #ccc;
}

/* Blog container */
.Blogcontainer {
    width: 80%;
    max-width: 1221px; 
    margin: 30px auto; 
    padding: 20px;

}

/* Blog header - Title */
.Blogheader {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.Blogtitle {
    font-size: 44px;
    font-weight: 600;
    line-height: 77.45px;
    letter-spacing: -0.04em;
    text-align: center;
    margin: 0;
}


.Blogfooter {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 20px; 
    margin-bottom: 30px;
}

/* Image container */
.Blogimage-container {
    width: 40px; 
    height: 40px; 
}
.TextImageContainer {
    position: relative; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    gap: 10px; 
    margin-top: 50px;
}


.blogImage {
    position: absolute; 
    top: 1090px; 
    right: 230px; 
    width: 70px; 
    height: auto; 
    object-fit: cover; 
}

/* Image name and date container */
.Blogimage-details {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 10px; 
    justify-content: flex-start; 
}

/* Image name style */
.Blogimage-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    letter-spacing: -0.02em;
}

/* Date style */
.Blogdate {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    letter-spacing: -0.02em;
}

/* Blog content (description) */
.Blogcontent {
    width: 100%;
    margin-top: 20px;
}

.Blogdescription {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #333;
    padding: 0 20px;
    text-align: center;
}

.SecondContainer {
    width: 1280px;
    height: 500px;
    position: relative;  
    top: 80px;
    left: 10px;
    gap: 0px;
    opacity: 1;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 90px;  
  }
  
  .CustomContainer {
    position: relative; 
    width: 920px;
    height: 1772px;
    margin-top: 140px;
    left: 150px;
    gap: 0px;
    opacity: 1; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


/* Content inside the container */
.ContentText {
    width: 455px;
    height: 29px;
    position: absolute;
    margin-top: 50px;
    left: -410px;
    gap: 0px;
    opacity: 1;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.ContentText2{
    width: 455px;
   
    position: relative;
    margin-top: 40px;
    
    gap: 0px;
    opacity: 1;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    letter-spacing: -0.04em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  
    display: flex;
    justify-content: flex-start; 
    left: -180px;
}

.text1 {
    width: 739px;
    height: 84px;
    margin-top: 65px;
    left: 180px;
    gap: 0px;
    opacity: 1;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-right: 78px;
}

.text2 {
    width: 739px;
    height: 84px;
    margin-top: 15px;
    left: 180px;
    gap: 0px;
    opacity: 1;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-right: 78px;
}

.CustomContainer img {
    position: relative;
    top: 20px;  
    right: 0;  
    width: 70px;  
    height: auto;  
    margin-right: 40px;
  
}


  .image-container {
    width: 840px;
    height: 400px;
    margin-top: 40px;
    gap: 0px;
    border-radius: 20px;
    opacity: 1; 
    position: relative; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    
  }
  
  .image-container img {
   width: 90%;
    border-radius: 20px; 
    padding: 10px;
    margin-bottom: 28px;
  }
  
  .styled-paragraph {
    width: 839px;
    height: 84px;
    top: 2150px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    left: 191px;
    gap: 0px;
    opacity: 0px;
  }
  
  .advice-paragraph {
    width: 854px;
    height: 29px;
    top: 2290px;
    left: 191px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  
  .content-paragraph {
    width: 839px;
    height: 84px;
    top: 2343px;
    left: 191px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  
  .content-wrapper {
    width: 920px;
    height: 224px;
    gap: 0px;
    position: relative;
    opacity: 1; 
   
    background-color: #f0f0f0
  }
  
  .content-inside {
    width: 839px;
    height: 128px;
    left: 40px;
    gap: 0px;
    opacity: 1;
    font-family: Inter, sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    position: absolute;
  }
  
  .chef-misconception {
    width: 839px;
    height: 72px;
    left: 40px;
    gap: 0px;
    opacity: 1; 
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    position: absolute; 
  }
  
  .detailed-content {
    width: 839px;
    height: 84px;
   margin-top: 100px;
    left: 40px;
    gap: 0px;
    opacity: 1; 
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    position: absolute; 
  }
  
.subscription-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 90px;
    border-radius: 15px;
  }
  
  .background-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    opacity: 0.8;  
  }
  
  .form-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E7FAFE;
    color: black;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
  }
  
  .form-overlay h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .form-overlay p {
    font-size: 1em;
    margin-bottom: 20px;
  }
  
  .email-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    background-color: white;
    padding: 10px;
  }
  
  .email-form input {
    padding: 10px;
    font-size: 1em;
    width: 70%;
    border: 0px;
    border-radius: 4px;
  }
  
  .email-form button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .email-form button:hover {
    background-color:rgb(92, 78, 78);
  }
  


  .tcontainer {
    margin-top: -50px;
    width: 1280px;
    height: 193px;
    left: 80px;
    gap: 0px;
    opacity: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tfoodieland {
    font-family: 'Lobster', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    opacity: 1;
}

.tdescription {
    width: 400px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    opacity: 1;
    margin-top: 10px;
}

.tnav-links {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 20px;
    left: 900px;
    margin-top: 10px;
}

.tnav-link {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    letter-spacing: -0.02em;
    text-align: left;
    opacity: 1;
    text-decoration: none;
    color: black;
}
#recipes{
  
  margin-top: 16px;
}

#blog{
  
  margin-top: 16px;
}
#contact{
  margin-left: -15px;
  padding-right: 10px;
}

.tnav-link:hover{
  color: green;
  font-weight: 600;
  }

hr {
    width: 1280px;
    height: 0px;
    border-top: 1px solid #0000001A;
    opacity: 1;
}

.tfooter-text {
    width: 336px;
    height: 23px;
    font-family: 'Eudoxus Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    letter-spacing: -0.02em;
    text-align: center;
    opacity: 1;
    margin-top: 10px;
   left: 450px;
   position: relative;
}

.tsocial-media-icons {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 133.96px;
    height: 22px;
    opacity: 1;
    left:1020px;
    margin-top: 110px;
}

.tsocial-icon {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: black;
    text-decoration: none;
}

.tsocial-icon.facebook:hover {
    color: #3b5998;
}

.tsocial-icon.twitter:hover {
    color: #00acee; 
}

.tsocial-icon.instagram:hover {
    color: #e4405f; 
}


.outer-container {
  width: 1280px;
  height: 440px;
  gap: 25px;
  opacity: 1;
  position: relative;
  display: flex;
  left: 30px;
  margin-bottom: 60px;
}

.inner-container {
  width: 290px;
  height: 291.2px;

  gap: 10px;
  border-radius: 20px 0px 0px 0px;
  opacity: 1;
  position: relative;
  margin-right: 0;
}
.food1{
  display: flex;
  gap: 16px;
}
.salad{
  margin-top: 13px;
  font-weight: 600;
}
.salad2{
  margin-top: 0px;
  font-size: medium;
  height: 10px;
}

.food2{
  display: flex;
  position: relative;
  top: 13px;
  gap: 16px;

  margin-top: 13px;
}


.contactContainer {
  width: 1000px;
  height: 733px;
  position: relative;
  top: 64px;
  left: 150px;
  gap: 0px;
  opacity: 1;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  margin-bottom: -150px;
}

.contactContent {
  display: flex;
  justify-content: space-between;
}

.contactImage {
  width: 50%;
  height: 100%;
}

.contactImage img {
  width: 100%;
  height: 290px;
}

.contactForm1 {
  width: 100%;
  padding: 20px;
}

.contact {
  align-items: center;
  position: relative;
}

.inputGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.inputGroup input {
  width: 100%; 
  padding: 10px;
  margin-right: 2%;
}

.inputGroup input:last-child {
  margin-right: 0;
}

textarea {
  width: 95%;
  height: 140px;
  padding: 10px;
  margin-bottom: 20px;
}

.button1 {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  position: absolute; 
  left: 630px;
  top: 350px; 
  border-radius: 10px;
}

.button1:hover {
  background-color: rgb(77, 66, 66);
}
